*.ini
.gitattributes
.git
*.asv
*.pdf
data\*.csv
apagar.m
output\
data\
info\deprecated
info\abacus_REBAP83
testes.m
output/regular_DC1/DC1beamsIt1.mat
output/regular_DC1/DC1beamsIt1mid.mat
output/regular_DC2/DC2beamsIt1.mat
output/regular_DC2/DC2beamsIt1mid.mat
output/regular_DC3/01_sections.csv
output/regular_DC3/02_FB_beams.csv
output/regular_DC3/02_FB_columns.csv
output/regular_DC3/02_FBPH_beams.csv
output/regular_DC3/02_FBPH_columns.csv
output/regular_DC3/03_nodes.csv
output/regular_DC3/04_elemConnectivity.csv
output/regular_DC3/05_constrains.csv
output/regular_DC3/06_restraints.csv
output/regular_DC3/DC3beamsIt1.mat
output/regular_DC3/DC3beamsIt1mid.mat
output/regular_DC3/DC3beamsIt2SeismicEq.mat
output/regular_DC3/DC3beamsIt2SeismicEqMid.mat
output/regular_DC3/DC3columnsIt1.mat
output/regular_DC3/DC3columnsIt1mid.mat
output/regular_DC3/DC3columnsIt2rule13.mat
output/regular_DC3slab/time.mat
output/regular_DC3slab/DC3columnsIt3SeismicEqMid.mat
output/regular_DC3slab/DC3columnsIt3SeismicEq.mat
output/regular_DC3slab/DC3columnsIt2rule13.mat
output/regular_DC3slab/DC3columnsIt1mid.mat
output/regular_DC3slab/DC3columnsIt1.mat
output/regular_DC3slab/DC3beamsIt2SeismicEqMid.mat
output/regular_DC3slab/DC3beamsIt2SeismicEq.mat
output/regular_DC3slab/DC3beamsIt1mid.mat
output/regular_DC3slab/DC3beamsIt1.mat
output/regular_DC3slab/06_restraints.csv
output/regular_DC3slab/05_constrains.csv
output/regular_DC3slab/04_elemConnectivity.csv
output/regular_DC3slab/03_nodes.csv
output/regular_DC3slab/02_FBPH_columns.csv
output/regular_DC3slab/02_FBPH_beams.csv
output/regular_DC3slab/02_FB_columns.csv
output/regular_DC3slab/02_FB_beams.csv
output/regular_DC3slab/01_sections.csv
output/regular_DC3/time.mat
output/regular_DC3/DC3columnsIt3SeismicEqMid.mat
output/regular_DC3/DC3columnsIt3SeismicEq.mat
dataTall/regular_DC3slabNEW/nodes.csv
dataTall/regular_DC3slabNEW/dataset.csv
dataTall/regular_DC3slabNEW/connectivity.csv
dataTall/regular_DC3slab/nodes.csv
dataTall/regular_DC3slab/dataset.csv
dataTall/regular_DC3slab/connectivity.csv
dataTall/regular_DC3/nodes.csv
dataTall/regular_DC3/dataset.csv
dataTall/regular_DC3/connectivity.csv
dataTall/regular_DC2/nodes.csv
dataTall/regular_DC2/dataset.csv
dataTall/regular_DC2/connectivity.csv
dataTall/regular_DC1/nodes.csv
dataTall/regular_DC1/dataset.csv
dataTall/regular_DC1/connectivity.csv
data/regular_DC3slabNew/nodes.csv
data/regular_DC3slabNew/dataset.csv
data/regular_DC3slabNew/nodes.csv
data/regular_DC3slabNew/dataset.csv
data/regular_DC3slabNew/connectivity.csv
data/regular_DC3slab/nodes.csv
data/regular_DC3slab/dataset.csv
data/regular_DC3/nodes.csv
data/regular_DC3/dataset.csv
data/regular_DC2/nodes.csv
data/regular_DC2/dataset.csv
data/regular_DC2/connectivity.csv
data/regular_DC1/nodes.csv
data/regular_DC1/dataset.csv
data/regular_DC1/connectivity.csv
data/regular_DC3slabNew/nodes.csv
data/regular_DC3slabNew/dataset.csv
data/regular_DC3slabNew/connectivity.csv
data/regular_DC3slab/nodes.csv
data/regular_DC3slab/dataset.csv
data/regular_DC3/nodes.csv
data/regular_DC2/nodes.csv
data/regular_DC2/dataset.csv
data/regular_DC2/connectivity.csv
data/regular_DC1/nodes.csv
data/regular_DC1/dataset.csv
data/regular_DC1/connectivity.csv
data/regularIT_DC3slab/nodes.csv
data/regularIT_DC3slab/dataset.csv
data/regularIT_DC3slab/connectivity.csv
data/regularIT_DC3/nodes.csv
data/regularIT_DC3/dataset.csv
data/regularIT_DC3/connectivity.csv
output/regularIT_DC3slab/increNeed.mat
output/regularIT_DC3slab/DC3columnsIt2rule13.mat
output/regularIT_DC3slab/DC3columnsIt1mid.mat
output/regularIT_DC3slab/DC3columnsIt1.mat
output/regularIT_DC3slab/DC3beamsIt1mid.mat
output/regularIT_DC3slab/DC3beamsIt1.mat
output/regularIT_DC3slab/columnsDel.mat
output/regularIT_DC3/increNeed.mat
output/regularIT_DC3/DC3columnsIt2rule13.mat
output/regularIT_DC3/DC3columnsIt1mid.mat
output/regularIT_DC3/DC3columnsIt1.mat
output/regularIT_DC3/DC3beamsIt2SeismicEqMid.mat
output/regularIT_DC3/DC3beamsIt2SeismicEq.mat
output/regularIT_DC3/DC3beamsIt1mid.mat
output/regularIT_DC3/DC3beamsIt1.mat
output/regularIT_DC3/columnsDel.mat
